<h1><%= @user.username %>'s profile</h1>
<%= image_tag @user.gravatar_url, class: "gravatar shadow" %>
<% if @articles.count > 0 %>
<h3>Articles</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody id="articles">
    <% @articles.each do |article| %>
      <%= render partial: 'articles/article_row_item', locals: { article: article } %>
    <% end %>
  </tbody>
</table>
<% end %>

