
<!-- Jumbotron -->
<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>Home</h2>
  <p>
    Welcome to my Ruby on Rails blog! I created this site as part of my learning journey with The Pesto Group. As a new member of the team, I was eager to dive into the world of Rails and gain a deeper understanding of its fundamental concepts. This blog allowed me to explore topics like CRUD operations, user authentication with Devise, and more.
  </p>

  <hr class="my-4" />

  <p>
    From tutorials and code snippets to musings on software development, this blog has a little bit of everything. Whether you're here to learn something new or just enjoy some quality writing about Rails and web development, I invite you to take a look around and see what catches your eye. Thank you for stopping by!
  </p>
  <%= link_to 'About',  about_path, class: 'btn btn-primary'  %>
</div>
<!-- Jumbotron -->
